<nav>
    <div class="nav-wrapper blue-grey darken-2">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li {% if navigationElement == 'home' %}class="active"{% endif %}>
                <a href="{{ path('rss_cleaner_homepage') }}">Current expressions</a>
            </li>
            <li {% if navigationElement == 'new' %} class="active"{% endif %}>
                <a href="{{path('rss_cleaner_new') }}">New expression</a>
            </li>
            <li {% if navigationElement == 'test' %} class="active"{% endif %}>
                <a href="{{ path('rss_cleaner_test') }}">Test expression</a>
            </li>
        </ul>
    </div>
</nav>